@model Product
<div class="col-sm-12 col-md-4 my-2">

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="@Model?.ImageUrl" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@Model.ProductName</h5>
            <p class="card-text">@Model.Price</p>
            <div class="btn btn-group">
            <form id="@Model.ProductId" asp-page="/cart" method="post">
                <input type="hidden" asp-for="ProductId"/>
                <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()"/>
                <button type="submit" class="btn btn-outline-primary">
                    <i class="fa fa-cart-plus"></i>
                    Add to Cart
                </button>
            </form>
            <a asp-action="get" asp-route-id="@Model.ProductId" class="btn btn-primary">
                <i class="fa-solid fa-arrow-right"></i>
                Details</a>
                </div>

        </div>
    </div>

</div>